* {
	margin: 0px;
	padding: 0px;
}

html {
	font-family: "Helvetica";
}

body {
	min-width: 810px;
	margin: 0px;

	background: -moz-linear-gradient(top,  rgba(0,0,0,0.1) 0%, rgba(2,2,2,0.05) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.1)), color-stop(100%,rgba(2,2,2,0.05))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(2,2,2,0.05) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(2,2,2,0.05) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(2,2,2,0.05) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.1) 0%,rgba(2,2,2,0.05) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#0d020202',GradientType=0 ); /* IE6-9 */
}

header {
	color: white;
	height: 40px;
}
	

.box {
	color: white;

	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(top,  #000000 0%, #131313 35%, #131313 65%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(35%,#131313), color-stop(65%,#212121), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #000000 0%,#131313 35%,#131313 65%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #000000 0%,#131313 35%,#131313 65%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #000000 0%,#131313 35%,#131313 65%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #000000 0%,#131313 35%,#131313 65%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

	-webkit-box-shadow: 0px 5px 12px 0px rgba(50, 50, 50, 0.63);
	-moz-box-shadow:    0px 5px 12px 0px rgba(50, 50, 50, 0.63);
	box-shadow:         0px 5px 12px 0px rgba(50, 50, 50, 0.63);
}

.headerPaddings {
	padding: 2px 5px 2px 5px;
	display: inline-block;
	font-size: 20px;
	margin-top: 5px;
}

.buttonsPaddings {
	margin: 2px 20px 0 0;
}

#caption {
	display: inline-block;
	font-size: 8px;
	font-style: italic;
}

#imageHeader {
	padding-left: 33px;
	margin-left: 10px;
	background-image: url("../images/ghead.png");
	background-size: 30px;
	background-repeat: no-repeat;
}

.fleft {
	float: left;
}

.fright {
	float: right;
}

.inline {
	display: inline-block;
}

.content {
	background: url("../images/capighost2BG.png") no-repeat;
	background-position: center;
	background-size: 300px;
	height: 300px;
	width: 600px;
	min-width: 400px;
	margin: 40px auto;
	padding: 40px 0;
} 

.radioButtons button {
	border: none;
	border-radius: 5px;
	font-size: 11px;
	cursor: pointer;

	background: #E6E6E6; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #E6E6E6 46%, #C6BCB5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(46%,#E6E6E6), color-stop(100%,#C6BCB5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #E6E6E6 46%,#C6BCB5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #E6E6E6 46%,#C6BCB5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #E6E6E6 46%,#C6BCB5 100%); /* IE10+ */
	background: linear-gradient(135deg,  #E6E6E6 46%,#C6BCB5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#C6BCB5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.radioButtons .active {
	background: #C6BCB5;
}

.mini {
	font-size: 10px;
}

#messages {
	height: 30px;
}

#messages > div {
	margin: 1px 8px;
	padding: 2px 5px 2px 5px;
}

#word, #score {
	font-size: 20px;
	font-weight: bold;
}

#dinamic {
	margin-top: 30px;
}

.currentWord {
	text-align: center;
	padding: 10px;
	font-size: 40px;
}

.downContent {
	padding: 15px;
	text-align: center;
}

.command,.userInput {
	display: inline-block;
}

.command {
	margin-right: 30px;
	font-style: italic;
}

.userInput input{
	font-size: 50px;
	width: 300px;

	background-color: inherit;
	border: none;
	text-align: center;
}

.userInput input:focus{
	border: none;
	outline: 0;
}

.wordHistory li,.scoreHistory li {
	display: inline-block;
	width: 30%;
	text-align: center;
	margin-top: 2px;
}

.borderRadius {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.dottedBox {
	min-height: 50px;
	margin: 4px;
	margin-top: 40px;
	border: black 2px solid;
}

.dottedBox > div:nth-child(2) {
	margin: 25px 10px;
}

.dottedBorderCaption {
	position: absolute;
	font-weight: bold;
	margin: -10px 0 0 15;
	padding: 0 4px;
	background-color: #EDEDED;
}

.wordHistory, .scoreHistory {
	text-align: center;
}

.historyHeader {
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 15px;

}

#wordWrapper {
	max-height: 106px;
	overflow: auto;
}

#wordWrapper ul:first-child {
	font-weight: bold;
}

#wordWrapper li:nth-child(2){
	margin-left: 15px;
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: 30px;
	background-position: right;
}

.correct {
	background-image: url("../images/correct.png");
}

.wrong {
	background-image: url("../images/wrong.png");
}